@import "~ngx-smart-modal/ngx-smart-modal";

ngx-smart-modal .overlay {
  z-index: 10000 !important;
}

.nsm-dialog-btn-close {
  margin: 0 !important;
  padding: 1px 6px !important;
  background-color: transparent !important;
}

/**
 * Overrides for the USWDS to make the page work full width.
 */

.usa-nav-container {
  max-width: 100% !important;
}

.usa-logo-img {
  height: 20px;
  vertical-align: sub;
}

@media screen and (min-width: 951px) {
  .usa-logo-img {
    height: 28px;
  }
}