@import "~ngx-smart-modal/ngx-smart-modal";

html{
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif!important;
}

ngx-smart-modal .overlay {
  z-index: 10000 !important;
}

.nsm-content {
  flex-direction: row !important;
}

.nsm-dialog-btn-close {
  margin: 0 !important;
  padding: 1px 6px !important;
  background-color: transparent !important;
}

.help-modal .nsm-dialog {
  max-width: 1024px;
}

/**
 * Overrides for the USWDS to make the page work full width.
 */

.usa-nav-container {
  max-width: 100% !important;
}

.usa-logo-img {
  height: 20px;
  vertical-align: sub;
}

/* Modal styles */
.nsm-content{
  padding: 3rem;
}

.nsm-dialog-btn-close {
  padding: 6px 6px !important;
}

@media screen and (min-width: 951px) {
  .usa-logo-img {
    height: 28px;
  }
}
