/**
 * Overrides for the USWDS to make the page work full width.
 */

.usa-nav-container {
  max-width: 100% !important;
}

.usa-logo-img {
  height: 20px;
  vertical-align: sub;
}

@media screen and (min-width: 951px) {
  .usa-logo-img {
    height: 28px;
  }
}