:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.usa-banner {
  flex: 0 0 auto;
}

.usa-header {
  flex: 0 0 auto;
  z-index: 9000;
}

#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

app-filter-bar {
  flex: 0 0 auto;
}

.main-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-snap-map {
  flex: 1;
}

app-locations-panel {
  flex: 0 0 300px;
  width: 300px;
}

@media screen and (max-width: 950px) {
  app-locations-panel {
    display: none;
  }
}