:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.usa-banner {
  flex: 0 0 auto;
}

.usa-header {
  flex: 0 0 auto;
  z-index: 9000;
}

#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

app-filter-bar {
  flex: 0 0 auto;
}

.main-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-snap-map {
  flex: 1;
}

app-locations-panel {
  flex: 0 0 300px;
  width: 300px;
}

/* Overwrite U.S. Web Design System */

.site-header {
  background-color: #ffffff;
}

.usda-logo-img {
  height: 28px;
  margin-top: 0px;
  margin-right: 10px;
}

.usa-logo{
  line-height: 5.5rem;
}

@media screen and (min-width: 951px){
  .usa-nav-container{
    .usa-nav{
      padding-top: 2rem;
      background: transparent;
    }
  }
  .usa-navbar {
    width: 50%;
  }
  .usda-logo-img {
    height: 38px;
  }
}

/* Mobile max-width */
@media screen and (max-width: 950px){
  app-locations-panel, .usda-logo-text {
    display: none;
  }
  .usa-navbar {
    height: 4rem!important;
  }
}