<ngx-smart-modal #helpModal [identifier]="'helpModal'">
  <p>
    With over 43 Million citizens using SNAP, we're always looking to bring new features to increase user experience with the
    voice of the customer in mind first. This MVP version streams USDA data from
    <a target="_blank" href="https://www.data.gov/">Data.gov</a> and other open source data sets collating farmers market location, retailers, and key SNAP offices in one
    location to ensure our citizens have access to the right information at the right time. Stay tuned for more features
    i.e. transit data, search for your favorite retailers, and localized ratings.
  </p>
  <button (click)="helpModal.close()">Close</button>
</ngx-smart-modal>