<ngx-smart-modal class="help-modal" #helpModal [identifier]="'helpModal'" (onOpen)="onOpen()">

  <h1 id="hm-dialog-title">Info</h1>
  <h2>Goal</h2>
  <p id="hm-dialog-description">
      With over 43 Million citizens using SNAP, we're always looking for opportunities keep users at the center of technology innovation. Our prototype streams USDA data from <a target="_blank" href="https://www.data.gov/">Data.gov</a>, and other open source data sets to collate farmers market location, retailers, and key SNAP offices to ensure citizens have access to the right information at the right time. Stay tuned for more features (i.e. transit data, search for your favorite retailers, and localized ratings).
  </p>
  <h2>SNAP-MAP Annotations</h2>
  <a title="SNAP-MAP Design" target="_blank" href="/assets/SNAP-map.jpg">
    <img width="" height="" src="/assets/SNAP-map.jpg" alt="USDA Map Description" class="usda-modal-img">
  </a>
  <br />
  <a title="SNAP-MAP Design Mobile" target="_blank" href="/assets/SNAP-map-mobile.jpg">
    <img width="" height="" src="/assets/SNAP-map-mobile.jpg" alt="USDA Map Description" class="usda-modal-img">
  </a>
  <br />
  <h2>Dashboard Annotations</h2>
  <a title="SNAP-MAP Dashboard Design" target="_blank" href="/assets/SNAP-dashboard.jpg">  
    <img width="" height="" src="/assets/SNAP-dashboard.jpg" alt="USDA Dashboard Description" class="usda-modal-img">
  </a>
 

  <h2>Location</h2>
  <p>
    Headquartered in Washington, D.C., USDA's Postal Service mailing address is:
    <br />
    <br />U.S. Department of Agriculture
    <br />1400 Independence Ave., S.W.
    <br />Washington, DC 20250 
  </p>

  <button (click)="helpModal.close()">Close</button>
</ngx-smart-modal>