<ngx-smart-modal #tellSonnyLocationModal [identifier]="'tellSonnyLocationModal'">
  <h1>Tell Sonny About Local Retailers</h1>
  <p>Secretary Sonny Perdue want to hear from you about local retailers in your community.</p>

  <label for="experience-text">
    What do you think of this retailer? (limit 140 characters)
  </label>
  <input id="experience-text" name="experience-text" type="text" maxlength="140">

  <button (click)="tellSonnyLocationModal.close()">Send Feedback</button>
</ngx-smart-modal>