<div class="name">
  <h4>
    <strong>{{location.name}}</strong>
  </h4>
</div>

<div class="address">
  <div *ngIf="location.address1">{{location.address1}}</div>
  <div *ngIf="location.address2">{{location.address2}}</div>
  <div>
    <span *ngIf="location.city">{{location.city}}, </span>
    <span *ngIf="location.state">{{location.state}} </span>
    <span *ngIf="location.zip">{{location.zip}}</span>
  </div>
</div>

<div class="website" *ngIf="location.website">
  <a [attr.href]="location.website">Visit Website</a>
</div>

<div class="rating">
  <app-rating-control class="static" [currentRating]="rating"></app-rating-control>&nbsp;
  <a href="javascript:void(0)" (click)="ngxSmartModalService.getModal('tellSonnyLocationModal').open()">Tell Sonny</a>
</div>

<app-tell-sonny-location-modal></app-tell-sonny-location-modal>

<hr />