.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/assets/star-icon-red.svg');

  &.selected ~ .star {
    background: url('/assets/star-icon-grey.svg');
  }
}

:host:not(.static):hover {
  > .star {
    background: url('/assets/star-icon-red.svg') !important;
    
    &:hover ~ .star {
      background: url('/assets/star-icon-grey.svg') !important;
    }
  }
}